@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.1rem;
  background: rgb(6, 28, 149);
  background: linear-gradient(150deg, rgba(6, 28, 149, 1) 0%, rgba(252, 40, 0, 1) 100%);
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: inset(50%);
  word-wrap: normal;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 10px 0;
  color: white;
}

section h2 {
  font-size: 1.5rem;
  grid-column: 1/3;
  margin-bottom: 30px;
  background-color: #04105b;
  color: white;
  padding: 10px;
}

textarea {
  grid-column: 1/3;
  resize: none;
}

section>div {
  grid-column: 1/3;
  padding: 20px 0;
  border-bottom: 2px dotted #04105b;
}

label:nth-of-type(odd),
input:nth-of-type(odd),
div>label[for*="summary"] {
  grid-column: 1/2;
}

label:nth-of-type(even),
input:nth-of-type(even) {
  grid-column: 2/3;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  border-bottom: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

form,
.preview {
  background-color: white;
  max-width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
}

form section {
  padding: 10px 30px;
  border-bottom: 2px dashed #04105b;
}

form section,
section>div {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 20px;
  column-gap: 20px;
}

button {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: #c52303;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.delete,
.add {
  grid-column: 1/3;
}

.add {
  margin-bottom: 10px;
}

button:hover,
button:active {
  background-color: #04105b;
}

.preview h1 {
  color: #04105b;
  text-align: left;
}

.preview h1+h2 {
  color: #04105b;
  background-color: transparent;
  border-bottom: 2px solid #04105b;
  padding-left: 0;
}

.preview h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.preview h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.preview h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.primary-column h4>span {
  float: right;
  font-size: 1rem;
}

.secondary-column {
  background-color: #04105b;
  color: white;
  padding: 20px;
}

.secondary-column h2 {
  padding: 0;
}

.secondary-column li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.secondary-column li>svg,
.preview h3>svg {
  margin-right: 10px;
}

.secondary-column ul {
  list-style: none;
  margin-bottom: 20px;
}

.preview {
  margin-top: 20px;
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  column-gap: 20px;
  padding: 20px;
}

.preview p {
  margin-bottom: 20px;
}

.preview button {
  grid-column: 1/3;
}